<!DOCTYPE html>
<html>
    <head>
        <title>Test Page</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Test Page</h1>
        <img id='banner' src="/static/img/photo-1628007337857-2b13c372f4c8.jpg" height="600">

        <h2>Lorem Ipsum</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate dignissim suspendisse in est ante in nibh mauris cursus. Nunc sed velit dignissim sodales. Facilisis volutpat est velit egestas dui id ornare arcu. Nunc congue nisi vitae suscipit tellus mauris a diam. Mollis aliquam ut porttitor leo. In eu mi bibendum neque egestas congue quisque. Imperdiet massa tincidunt nunc pulvinar sapien. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Ut placerat orci nulla pellentesque. Urna nec tincidunt praesent semper feugiat. Cras sed felis eget velit aliquet sagittis id. Gravida rutrum quisque non tellus orci ac auctor augue. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. </p>
    </body>
</html>